<div class="container">
    <h1>Products</h1>
    <div class="container container-fluid">
    
        <div class="input-group">
            <button type="button" class="btn btn-primary">New Products</button>
            <input type="text" class="form-control search-input" placeholder="Search Product..."
                aria-label="Search for orders">
        </div>
        <!-- <mat-icon>search</mat-icon> -->
    </div>
    
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div routerLink="/products/card-detail" class="col" *ngFor="let card of cards">
            <div class="card h-100">
                <img src={{card.imgUrl}} class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">{{card.category}}</p>
                    <p class="card-text">{{card.description}}</p>
                    <p class="card-title">{{card.price}}</p>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
</div>
