.container{
  margin-bottom: 8%;
}
.title{
  font-weight: 500;
  margin-left: 2%;
}

 h1{
   font-weight: 500;
 }
.btn{
    background-color: #D6ACF2;
    color: #ffff;
    border: 3px solid #D6ACF2;
}

.btn:hover{
  background-color: #bb72ec;
  border: 3px solid #bb72ec;
}

.pagination{
  margin-top: 3%;
  margin-left: 20px;
}

.pagination {
  margin-top: 20px;
}

.page-item {
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.3s ease; /* Adicionando a transição */
}

.page-item:hover {
  transform: scale(1.1); /* Aumentando o tamanho no hover */
}

.page-link {
  color: #D6ACF2;
  background-color: #fff;
  border: 1px solid #D6ACF2;
  padding: 5px 10px;
  border-radius: 5px;
}

.page-link:hover {
  background-color: #bb72ec;
  color: #fff;
}

.page-item.active .page-link {
  background-color: #D6ACF2;
  border-color: #D6ACF2;
  color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  pointer-events: none;
}

.justify-content-end {
  justify-content: flex-end;
}

.container-fluid {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 93%;
  margin: 2% auto;
  margin-top: 1%;
  border-radius: 7px;
  background-color: #fff;
}

.row {
  margin-left: 2%;
  margin-right: 2%;
}

.card {
  padding: 20px;
  border: none;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-color: #fff;
  height: 100px;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease; /* Adicionando a transição */
}

.card:hover {
  transform: scale(1.05); /* Aumentando o tamanho no hover */
}

img {
  height: auto;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1280px) {
  img {
    max-width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    max-width: 100%;
  }

  img {
    max-width: 100px;
  }

  .card {
    width: 100%;
  }
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-controls ::ng-deep {
  justify-content: space-between;
}

.pagination-controls ::ng-deep .ngx-pagination .current {
  background:#ad45f3;
  border-radius: 100%;
}

.pagination-controls ::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover{
  background-color: #e3cdf1;
  border-radius: 20px;
}

.pagination-controls ::ng-deep .ngx-pagination a, .ngx-pagination button{
  text-decoration: none;
}
