<div class="container">
  <div class="left-side">
    <div class="logo-container">
      <img  src="../../../assets/logo.png" alt="Logo">
    </div>
  </div>
    <div class="right-side">

      <section class="form-container">
        <form class="form-login">
            <p class="p-title">Verify your email</p>
          <p class="p-enter">
            An email with instructions on how to reset your password has been sent to your registered email address. Please check your inbox and follow the steps provided to complete the process
          </p>
            <!-- <button (click)="resetPassword"  class="btn btn-primary" type="submit">Verify email</button> -->
        </form> 
      </section>
      
    </div>
  </div>
