.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #190F26;
  color: #fff;
}

.sidenav-header{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.logo-sidenav{
  max-width: 200px;
  margin-bottom: 20px;
}

.sidenav-links {
  display: flex;
  flex-direction: column; 
  align-items: start;
  padding: 22px;
}

.sidenav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  line-height: 1.8;
  margin-bottom: 30px;
  transition: color 0.2s;
}

.sidenav-links a:hover {
  color: #cdb1e9;
}

.sidenav-links a.active {
  background-color: #392259; 
  width: 200px;
  padding: 10px 30px 10px 5px;
  border-radius: 8px;
}