<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <div class="sidenav-header">
      <img src="../../../assets/logo-sidenav.png" alt="" class="logo-sidenav">
      <div class="sidenav-links">
        <div class="item">
          
          <a routerLink="/dashboard" routerLinkActive="active"><mat-icon routerLinkActive="active">dashboard</mat-icon>Dashboard</a>
        </div>
        <div class="item">
          
          <a routerLink="/analytics" routerLinkActive="active"><mat-icon routerLinkActive="active">data_usage</mat-icon>Analytics</a>
        </div>
        <div class="item"> 
          
          <a routerLink="/customers" routerLinkActive="active"><mat-icon routerLinkActive="active">supervisor_account</mat-icon>Customers</a>
        </div>
        <div class="item">
          
          <a routerLink="/orders" routerLinkActive="active"><mat-icon routerLinkActive="active">shopping_cart</mat-icon>Orders</a>
        </div>
        <div class="item">
          
          <a routerLink="/products" routerLinkActive="active"><mat-icon routerLinkActive="active"> local_mall</mat-icon>Products</a>
        </div>
        <div class="item">
          
          <a routerLink="/settings" routerLinkActive="active"><mat-icon routerLinkActive="active">settings</mat-icon>Settings</a>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
 