.sidenav-container {
  height: 100vh;
  position: relative;
}

.sidenav {
  width: 250px;
  background-color: #190F26;
  color: #fff;
  position: fixed; /* Torna o sidenav fixo */
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.sidenav-header{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.logo-sidenav{
  max-width: 200px;
  margin-bottom: 10px;
}

.sidenav-links {
  display: flex;
  flex-direction: column; 
  align-items: start;
  padding: 22px;
}
/* Estilização dos ícones e links na classe .item */
.item {
  align-items: center; /* Alinha verticalmente ao centro */
}

.item mat-icon {
    width: 35px;
}


.sidenav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  line-height: 3.3;
  margin-bottom: 30px;
  transition: color 0.2s;
}

.sidenav-links a:hover {
  color: #cdb1e9;
}

.sidenav-links a.active {
  background-color: #392259; 
  width: 200px;
  padding: 10px 30px 10px 5px;
  border-radius: 8px;
}