<div class="container">
  <div class="row row-cols-auto">
    <div class="col">
      <div class="card h-100">
        <div class="">
          <mat-card class="example-card sold-item">
            <mat-card-header>
              <mat-card-title-group>
                <div class="upper-left">0000</div>
                <div class="upper-right"><mat-icon>find_in_page</mat-icon></div>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <div class="lower-left">Sold Item</div>
              <div class="lower-right">R$ 50,00</div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card h-100">
        <div class="">
          <mat-card class="example-card refund-request">
            <mat-card-header>
              <mat-card-title-group>
                <div class="upper-left">0000</div>
                <div class="upper-right"><mat-icon> attach_money</mat-icon></div>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <div class="lower-left">Refund Request</div>
              <div class="lower-right">R$ 50,00</div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card h-100">
        <div class="">
          <mat-card class="example-card cancelled-orders">
            <mat-card-header>
              <mat-card-title-group>
                <div class="upper-left">0000</div>
                <div class="upper-right"><mat-icon> cancel_presentation</mat-icon></div>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <div class="lower-left">Cancelled Orders</div>
              <div class="lower-right">-10.8%</div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="">
          <mat-card class="example-card new-users">
            <mat-card-header>
              <mat-card-title-group>
                <div class="upper-left">0000</div>
                <div class="upper-right"><mat-icon>person_outline</mat-icon></div>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <div class="lower-left">New Users</div>
              <div class="lower-right">+13.3%</div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>