.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #D6ACF2;
    border-color: #D6ACF2;
    margin-right: 3px;
  }
  
  .btn-primary:hover {
    background-color: #c482f0;
    border-color: #c482f0;
  }

  .btn-primary:active {
    background-color: #8248a8;
    border-color: #8248a8;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }