<div class="container">
    <div class="left-side">
      <app-button-back routerLink="/login"></app-button-back>
      <div class="logo-container">
        <img  src="../../../assets/logo.png" alt="Logo">
      </div>
    </div>
      <div class="right-side">
        <section class="form-container">
          <form class="form-login">
            <p class="p-enter">
                Enter the email address associated with your account and we`ll send you a link to reset your password
            </p>
            <div class=" mb-3">
              <label for="exampleFormControlInput1" class="form-label" >Email:</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)] = "recover.email">
            </div>
              <button (click)="passwordRecover" routerLink="/reset-password"  class="btn btn-primary" type="submit">Continue</button>
          </form>
        </section>
      </div>
    </div>
