<div class="container">
    <div class="left-side">
      <app-button-back routerLink="/login"></app-button-back>
      <div class="logo-container">
        <img  src="../../../assets/logo.png" alt="Logo">
      </div>
    </div>
      <div class="right-side">
        <section class="form-container">
          <form class="form-login" #f="ngForm" (ngSubmit)="resetPassword(f)">
            <p class="p-enter">
                Enter the email address associated with your account and we`ll send you a link to reset your password
            </p>
            <div class=" mb-3">
              <label for="exampleFormControlInput1" class="form-label" name="email" >Email:</label>

              <input name="email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$" #email="ngModel"  required style="margin-bottom: 0px;">
            </div>

            <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
              <app-message-error *ngIf="email?.errors?.['required']" message="The field should be filled in" ></app-message-error>
              
              <app-message-error *ngIf="email?.errors?.['pattern']" message="The email field should follow this pattern: 'exemple@exemple.com'" style="width: 300px;
              height: 60px;"></app-message-error>
            </div>

              <button (click)="passwordRecover"   class="btn btn-primary" type="submit">Continue</button>
          </form>
        </section>
      </div>
    </div>
