<div class="container">
    <div class="row">
      <div class="col">
        <h1>Customers</h1>
        <div class="input-group mb-3 search-input">
          <input type="text" class="form-control" placeholder="Search for customers" aria-label="Search for customers" [(ngModel)]="searchText" (keyup)="searchCustomers()">
          <button class="btn btn-primary add-client-button" type="button" routerLink="/customers/addcustomer">+ Add Client</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class=""> </th>
              <th scope="col" class="t-table">Client</th>
              <th scope="col" class="t-table">CPF</th>
              <th scope="col" class="t-table">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr class="customer " *ngFor="let customer of filteredCustomers">
              <td style="width: 96px;"> <img src={{customer.imgUrl}}   alt="Customer 1" width="70" height="70"  class="rounded-circle"></td>
              <td> <p class="t-name"> {{ customer.name }}</p>
                <p class="t-email">{{ customer.email }}</p>
              </td>
              <td>{{ customer.cpf }}</td>
              <td>{{ customer.phone }}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  