.container{
  max-width: 85%;
}

h1{
  font-weight: 500;
}


.add-client-button{
  background-color: #D6ACF2;
  border: none;
}

.t-table{
  color: #999999;
  text-transform: uppercase;
  font-weight: 500;
}

h4{
  font-weight: bold;
  margin-bottom: 0px;
}
.imgInfos {
  display: flex;
  align-items: center;
}

.t-name {
 font-size: 18px;
 font-weight: 500;
 margin-top: 10px;
 margin-bottom: 0px;
}

.t-email{
  color: #757575;
}

img{
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Adjust the font size for smaller screens */
  h1 {
    font-size: 20px;
  }

  

  /* Reduce the size of the images and font on smaller screens */
  img {
    width: 50px;
    height: 50px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

/* Add space on the sides (left and right) for larger screens */
@media (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}