<div class="container">
    <div class="row">
      <div class="col">
        <h1>Customers</h1>
        <div class="input-group mb-3 search-input">
          <input type="text" class="form-control" placeholder="Search for customers" aria-label="Search for customers">
          <button class="btn btn-primary add-client-button" type="button" routerLink="/customers/addcustomer">+ Add Client</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="t-table">Id</th>
              <th scope="col" class="t-table">Name</th>
              <th scope="col" class="t-table">Date of Birth</th>
              <th scope="col" class="t-table">CPF</th>
              <th scope="col" class="t-table">Gender</th>
              <th scope="col" class="t-table">Address</th>
              <th scope="col" class="t-table">Email</th>
              <th scope="col" class="t-table">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr class="customer" *ngFor="let customer of customers">
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.dateBirth }}</td>
              <td>{{ customer.cpf }}</td>
              <td>{{ customer.gender }}</td>
              <td>{{ customer.addressId }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.phone }}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  