<h1>Product Details</h1>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://m.media-amazon.com/images/I/61Yc53OhY4L.__AC_SX300_SY300_QL70_ML2_.jpg"
                    class="img-fluid rounded-start " alt="...">
            </div>
            <div class="col-md-8 centered-column">
                <div class="card-body">
                    <h1 class="card-title">Memória DDR4 Kingston, 8GB, 3200Mhz</h1>
                    <p class="card-text">As memórias FURY são módulos de memória de ótima qualidade com especificação
                        SDRAM, com base em 8 componentes FBGA de 1G x 8 bits por módulo.</p>
                    <table class="table">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td>Id</td>
                                <td>0082</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Product Category</td>
                                <td>Hardware</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Price</td>
                                <td>R$ 189,99</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Status</td>
                                <td>In Stock</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Sku Identification</td>
                                <td>89548511212</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Supplier</td>
                                <td>Kabum</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Sold</td>
                                <td>2198</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>