h1{
    margin-left: 2%;
}

.container {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 85%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: #fff;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10%;
    padding-top: 140px;
}
