<div class="container">

  <div class="mb-3">
    <h1>Registration</h1>
    <h2>Personal Details</h2>
    <div class="row g-3">
      <div class="row g-3">
        <div class="col">
          <label for="">First Name</label>
          <input type="text" class="form-control" placeholder="Enter first name" aria-label="First name">
        </div>
        <div class="col">
          <label for="">Last Name</label>
          <input type="text" class="form-control" placeholder="Enter last name" aria-label="Last name">
        </div>
      </div>
      <div class="row g-3">
        <div class="col-sm-4">
          <label for="">Date of Birth</label>
          <input type="date" class="form-control" placeholder="Enter birth date" aria-label="Birth">
        </div>
        <div class="col-sm">
          <label for="">Gender</label>
          <select class="form-select" id="validationCustom04" required>
            <option selected disabled value="">Enter gender...</option>
            <option>Male</option>
            <option>Female</option>
            <option>Prefer not to say</option>
          </select>
        </div>
        <div class="col-sm">
          <label for="">CPF</label>
          <input type="number_format" class="form-control" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="Enter cpf" aria-label="CPF">
        </div>
      </div>
      <div class="row g-3">
        <div class="col-9">
          <label for="">Email</label>
          <input type="text" class="form-control" placeholder="Enter email" aria-label="Email">
        </div>
        <div class="col">
          <label for="">Phone</label>
          <input type="tel" class="form-control" placeholder="Enter phone" aria-label="Phone">
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end btns">
        <button class="btn btn-cancel me-md-2" type="button" routerLink="/customers">Cancel</button>
        <button class="btn btn-next" type="button">Next <mat-icon>arrow_right_alt</mat-icon></button>
      </div>
    </div>


  </div>

</div>