<h1 class="title">Customers</h1>
<div class="container">

  <div class="mb-3">
    <form #f="ngForm" (ngSubmit)="addCustomer(f)">
      <h1>Registration</h1>
      <h2>Personal Details</h2>
      <div class="row g-3">
        <div class="row g-3">
          <div class="col">
            <label for="">First Name</label>
            <input type="text" class="form-control" placeholder="Enter first name" aria-label="First name" required minlength="2" ngModel name="name" #name="ngModel" style="margin-bottom: 0px;">
            <div *ngIf="(name?.invalid && name?.touched) || name?.dirty">
              <app-message-error
              *ngIf="name?.errors?.['required']"
              message="The field should be filled in"
              ></app-message-error>
              <app-message-error
              *ngIf="name?.errors?.['minlength']"
              message="The first name must be at least 2 characters long"
              ></app-message-error>
            </div>
          </div>
          <div class="col">
            <label for="">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter last name" aria-label="Last name" required minlength="2" ngModel name="lastName" #lastName="ngModel" style="margin-bottom: 0px;">
            <div *ngIf="(lastName?.invalid && lastName?.touched) || lastName?.dirty">
              <app-message-error
              *ngIf="lastName?.errors?.['required']"
              message="The field should be filled in"
              ></app-message-error>
              <app-message-error
              *ngIf="lastName?.errors?.['minlength']"
              message="The last name must be at least 2 characters long"
              ></app-message-error>
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-4">
            <label for="">Date of Birth</label>
            <input type="date" class="form-control" placeholder="Enter birth date" aria-label="Birth" required ngModel name="birth" #birth="ngModel" style="margin-bottom: 0px;">
            <div *ngIf="(birth?.invalid && birth?.touched) || birth?.dirty">
              <app-message-error
              *ngIf="birth?.errors?.['required']"
              message="The field should be filled in"
              ></app-message-error>
            </div>
          </div>
          <div class="col-sm">
            <label for="">Gender</label>
            <select class="form-select" id="validationCustom04" required ngModel name="gender" #gender="ngModel" style="margin-bottom: 0px;">
              <option selected disabled value="">Enter gender...</option>
              <option>Male</option>
              <option>Female</option>
              <option>Prefer not to say</option>
            </select>
            <div *ngIf="(gender?.invalid && gender?.touched) || gender?.dirty">
              <app-message-error
              *ngIf="gender?.errors?.['required']"
              message="The field should be filled in">
              </app-message-error>
            </div>
          </div>
          <div class="col-sm">
            <label for="">CPF</label>
            <input type="number_format" class="form-control" pattern="^[0-9]{3}.?[0-9]{3}.?[0-9]{3}-?[0-9]{2}" placeholder="Enter cpf" aria-label="CPF" required ngModel name="cpf" #cpf="ngModel" style="margin-bottom: 0px;">
            <div
            *ngIf="(cpf?.invalid && cpf?.touched) || cpf?.dirty">
            <app-message-error
            *ngIf="cpf?.errors?.['required']"
            message="The field should be filled in"
            ></app-message-error>
            <app-message-error
            *ngIf="cpf?.errors?.['pattern']"
            message="The cpf should be for example '123.456.789-09'"
            ></app-message-error>
          </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-9">
            <label for="">Email</label>
            <input name="email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter email" ngModel pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$" #email="ngModel"  required style="margin-bottom: 0px;">

            <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
              <app-message-error *ngIf="email?.errors?.['required']" message="The field should be filled in"></app-message-error>
              
              <app-message-error *ngIf="email?.errors?.['pattern']" message="The email field should follow this pattern: 'exemple@exemple.com'"></app-message-error>
            </div>
          </div>
          <div class="col">
            <label for="">Phone</label>
            <input type="tel" class="form-control" placeholder="Enter phone" aria-label="Phone" required name="phone" ngModel #phone="ngModel" style="margin-bottom: 0px;" pattern="^(1[1-9]|[4689][0-9]|2[12478]|3([1-5]|[7-8])|5([13-5])|7[193-7])9[0-9]{8}$">
            <div *ngIf="(phone?.invalid && phone?.touched) || phone?.dirty">
              <app-message-error
              *ngIf="phone?.errors?.['required']"
              message="The field should be filled in"
              ></app-message-error>
              <app-message-error
              *ngIf="phone?.errors?.['pattern']"
              message="The phone number should be for example '(12) 12345-6789 '."
              ></app-message-error>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end btns">
          <button class="btn btn-cancel me-md-2" type="button" routerLink="/customers">Cancel</button>
          <button class="btn btn-next" type="submit">Next <mat-icon>arrow_right_alt</mat-icon></button>
        </div>
      </div>
    </form>
    


  </div>

</div>