<div class="container">
  <div class="row mb-3">
      <div class="col-sm">
          <h1>Orders</h1>
      </div>
      <div class="input-group mb-3 search-input">
        <input type="text" class="form-control" placeholder="Search for customers" aria-label="Search for customers"
          [(ngModel)]="searchText" (keyup)="searchOrders()">
      </div>
  </div>
  <table class="table table-hover">
      <thead class="table-light">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <!-- <th scope="col">Items</th> -->
              <th scope="col">View Details</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of filteredOrders | paginate: { itemsPerPage: itemsPerPage, currentPage: p}">
              <th scope="row">
                  <input class="form-check-input" type="checkbox" name="checkorders" id="flexCheckDefault">
                   {{order.id}}
              </th>
              <td>{{order.requestedDate | date:'dd/MM/yyyy HH:mm'}}</td>
              <td [ngClass]="{
                'container-realized': order.status === 'REALIZED',
                'container-cancelled': order.status === 'CANCELLED',
                'container-paid': order.status === 'PAID',
                'container-not-authorized': order.status === 'NOT_AUTHORIZED',
                'container-confirmed': order.status === 'CONFIRMED',
                'container-ready': order.status === 'READY',
                'container-out-for-delivery': order.status === 'OUT_FOR_DELIVERY',
                'container-delivered': order.status === 'DELIVERED'
              }">{{order.status}}</td>
              <!-- <td>{{order.items}}</td> -->
              <td><button type="button" class="btn">View Details</button></td>
          </tr>
      </tbody>
  </table>
  <div class="pagination-container">
    <pagination-controls class="pagination-controls" (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
  </div>
  
</div>
