<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <img src="../../../assets/icon-perfil-teste (3).png" alt="Profile Image" class="profile-image">
            <h5 class="card-title mt-3">John Doe</h5>
            <p class="card-text">Role: Administrator</p>
            <p class="card-text">Email: john.doe@example.com</p>
            <p class="card-text">Phone: +1 123-456-7890</p>
            <p class="card-text">Date of Birth: January 15, 1981</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">Edit Profile</button>
            
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">About me</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, maiores! Minima, reiciendis repellendus. Delectus minus quis ipsa maiores culpa quos!</p>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Interest</h5>
            <ul class="list-unstyled">
              <li>Photography</li>
              <li>Hiking</li>
              <li>Reading</li>
              <li>Drawing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    
